/* ===================================================================
  ボタンコンポーネント
   =================================================================== */

.c-button {
	width: 235px;
	height: 60px;
	line-height: 60px;
	border-radius: 51px;
	box-shadow: 0 0 6px $color-button-bg;
	color: #fff;
	background-color: $color-button-bg;
	font-size: 2rem;
	text-align: center;
	letter-spacing: .05em;
	transition: all .4s;

	&:hover {
		color: $color-button-text-hover;
		background-color: #fff;
		font-weight: 700;
		transition: all .4s;
	}

	input {
		width: 100%;
		border-radius: 51px;
		border: none;
	}
}
