/* ===================================================================
  ボタンコンポーネント
   =================================================================== */

.c-button {
	width: 235px;
	height: 60px;
	border-radius: 51px;
	box-shadow: 0 0 6px $color-button-shadow;
	background-color: $color-button-bg;
	text-align: center;
	transition: all .4s;

	a {
		line-height: 60px;
		color: $color-button-text;
		font-weight: 700;
		font-size: 1.6rem;
		text-decoration: none;
		letter-spacing: .05em;
	}

	&:hover {
		background-color: #fff;
		font-weight: 700;
		transition: all .4s;
	}

	input {
		width: 100%;
		border: none;
		border-radius: 51px;
	}
}
