/* ===================================================================
  テキストコンポーネント
   =================================================================== */

.c-text {
	line-height: calc(30/14);
	color: $color-text;
	font-weight: 700;
	font-size: 1.4rem;
	letter-spacing: .05em;

	&__sectionTitle {
		margin-bottom: 70px;
		color: $color-text-sectionTitle;
		font-weight: 500;
		font-size: 3.6rem;
		text-align: center;
		letter-spacing: .05em;
	}

	&__sectionSubTitle {
		line-height: 2;
		margin-bottom: 20px;
		color: $color-text-sectionSubTitle;
		font-weight: 700;
		font-size: 2rem;
		letter-spacing: .1em;

		@include mq(pc) {
			font-size: 2.4rem;
			margin-bottom: 30px;
		}
	}
}
