/* ================================================================
  Concept
   ================================================================ */

.p-concept {
	margin-top: -86px;
	padding: 186px 0 40px;

	@include mq(pc) {
		margin-top: -76px;
		padding: 176px 0 67px;
	}

	&__inner--lg {
		max-width: $max-width-inner-sp;
		margin: 0 auto;

		@include mq(pc) {
			max-width: $max-width-inner-pc-lg;
		}
	}

	&__inner {
		margin: 0 auto;

		@include mq(pc) {
			max-width: $max-width-inner-pc;
		}
	}

	&__sectionTitle {
		@include mq(pc) {
			margin-bottom: 67px;
			letter-spacing: .05em;
		}
	}

	&__sectionSubTitle {

		@include mq(pc) {
			span::before {
				content: "\A";
				white-space: pre;
			}
		}
	}

	&__text {
		margin-bottom: 30px;

		@include mq(pc) {
			width: calc((440/1000) * 100%);
			padding-top: 42px;
			margin-bottom: 50px;
		}
	}

	&__image {
		margin-bottom: 40px;
		display: flex;
		align-items: center;

		@include mq(pc) {
			width: calc((440/1000) * 100%);
			margin-bottom: 0;
		}

		img {
			display: block;
			width: 100%;
		}
	}

	&__container {
		@include mq(pc) {
			display: flex;
			justify-content: space-between;
			margin-bottom: 70px;
		}
	}

	&__sectionWatermark {
		text-align: right;
	}
}
