/* ================================================================
  Contact Page
   ================================================================ */

.p-contactPage {
	padding: 184px 0 40px;
	background-image: url(../../../image/contact-page-bgi@2x.jpg);
	background-position: center;
	background-size: cover;

	&__inner {
		width: 100%;
		max-width: $max-width-inner-sp;
		margin: 0 auto;

		@include mq(pc) {
			max-width: 700px;
		}
	}

	&__sectionTitle {
		color: #fff;
		justify-content: center;
		margin-bottom: 40px;

		&::after {
			display: none;
		}
	}

	&__button {
		margin: 0 auto 40px;
	}

	&__sectionWatermark {
		text-align: left;
		color: #fff;
		opacity: 0.1;
	}
}
