/* ================================================================
  Contact Page
   ================================================================ */

.p-contactPage {
	&__inner {
		width: 100%;
		max-width: $max-width-inner-sp;
		margin: 0 auto;

		@include mq(pc) {
			max-width: $max-width-inner-pc-lg;
		}
	}

	&__mainVisual {
		width: 100vw;
		margin: 0 calc(50% - 50vw) 30px;
		padding: 175px 0 50px;
		background-image: url(../image/contact-page-bgi@2x.jpg);
		background-position: center;
		background-size: cover;

		@include mq(pc) {
			padding: 186px 0 43px;
		}
	}

	&__sectionTitle {
		justify-content: center;
		margin-bottom: 40px;
		color: #fff;

		@include mq(pc) {
			margin-bottom: 20px;
		}

		&::after {
			display: none;
		}
	}

	&__button {
		margin: 0 auto 80px;
	}

	&__sectionWatermark {
		color: #fff;
		opacity: .1;
		text-align: left;
	}

	&__form {
		margin: 0 auto;
		padding: 67px 0 0;

		@include mq(pc) {
			width: 100%;
			max-width: 700px;
		}
	}

	&__purpose {
		margin-bottom: 18px;

		p {
			margin-bottom: -14px;

			@include mq(pc) {
				margin-bottom: -22px;
			}
		}

		label {
			line-height: 1.7;
			color: $color-text;
			font-weight: 400;
			font-size: 1.6rem;
			letter-spacing: .05em;

			@include mq(pc) {
				margin-right: 19px;
			}
		}

		span::before {
			white-space: pre;
			content: '\A';

			@include mq(pc) {
				content: '';
			}
		}
	}

	&__textbox {
		width: 100%;
		line-height: 1.8;
		margin-bottom: 22px;
		border: solid 1px $color-form-border;
	}

	&__textarea {
		margin-bottom: 75px;

		textarea {
			width: 100%;
			height: 171px;
			line-height: 1.8;
			line-height: 1.5;
			border: solid 1px $color-form-border;
		}
	}

	&__button {
		width: 245px;
	}
}
