/* ================================================================
  Concept
   ================================================================ */

.p-concept {
	margin-top: -86px;
	padding: 186px 0 40px;

	&__inner {
		max-width: $max-width-inner-sp;
		margin: 0 auto;
		
		@include mq(pc) {
			max-width: $max-width-inner-pc;
		}
	}

	&__text {
		margin-bottom: 50px;
	}

	&__image {
		margin-bottom: 40px;

		img {
			width: 100%;
			display: block;
			margin: 0;
		}
	}

	&__sectionWatermark {
		text-align: right;
	}
}
