/* ================================================================
  Contact
   ================================================================ */

.p-contact {
	padding: 100px 0 45px;
	background-image: url(../../../image/contact-bgi@2x.jpg);
	background-position: center;
	background-size: cover;

	@include mq(pc) {
		padding: 100px 0 70px;
	}

	&__inner {
		width: 100%;
		max-width: $max-width-inner-sp;
		margin: 0 auto;

		@include mq(pc) {
		max-width: $max-width-inner-pc-lg;
		}
	}

	&__sectionTitle {
		color: #fff;
		justify-content: flex-end;
		margin-bottom: 82px;

		&::after {
			background-color: #fff;
		}
	}

	&__text {
		color: #fff;
		font-size: 2rem;
		font-weight: 700;
		letter-spacing: 0.05em;
		text-align: center;
		margin-bottom: 33px;
	}

	&__button {
		margin: 0 auto 40px;

		@include mq(pc) {
			margin: 0 auto 70px;
		}
	}

	&__sectionWatermark {
		text-align: left;
		color: #fff;
		opacity: 0.1;
	}
}
