/* ================================================================
  Contact
   ================================================================ */

.p-contact {
	background-image: url(../image/contact-bgi@2x.jpg);
	background-position: center;
	background-size: cover;
	padding: 100px 0 45px;
	
	@include mq(pc) {
		padding: 108px 0 70px;
	}

	&__inner {
		width: 100%;
		max-width: $max-width-inner-sp;
		margin: 0 auto;

		@include mq(pc) {
			max-width: $max-width-inner-pc-lg;
		}
	}

	&__sectionTitle {
		justify-content: flex-end;
		margin-bottom: 82px;
		color: #fff;

		&::after {
			background-color: #fff;
		}
	}

	&__text {
		margin-bottom: 33px;
		color: #fff;
		font-weight: 700;
		font-size: 2rem;
		text-align: center;
		letter-spacing: .05em;

		@include mq(pc) {
			margin-bottom: 42px;
		}
	}

	&__button {
		margin: 0 auto 40px;

		@include mq(pc) {
			margin: 0 auto 70px;
		}
	}

	&__sectionWatermark {
		color: #fff;
		opacity: .1;
		text-align: left;
	}
}
