/* ================================================================
  ヘッダー
   ================================================================ */

.visible {
	top: 0;
}

.p-header {
	width: 100%;
	max-width: $max-width;
	margin: 0 auto;
	padding: 30px 0 20px;

	&__inner {
		display: flex;
		position: relative;
		max-width: $max-width-inner-sp;
		justify-content: space-between;
		margin: 0 auto;

		@include mq(pc) {
			max-width: $max-width-header-inner-pc;
		}
	}

	&__logo {

		a {
			text-decoration: none;
		}

		h1 {
			color: #fff;
			font-weight: 700;
			font-size: 2.6rem;
			letter-spacing: .05em;
			font-style: italic;
		}
	}

	&__nav {
		display: none;
		position: absolute;
		top: -30px;
		left: calc((30/375) * -100%);
		z-index: 101;
		width: 100vw;
		background-color: $color-header-bg;

		@include mq(pc) {
			display: block;
			position: static;
			width: auto;
			margin-top: 30px;
			background-color: transparent;
		}
	}

	&__list {
		display: flex;
		height: 100vh;
		overflow: auto;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		list-style: none;

		@include mq(pc) {
			height: auto;
			flex-direction: unset;
			align-items: unset;
		}

		-webkit-overflow-scrolling: touch;
	}

	&__item {
		margin-bottom: 30px;
		padding-bottom: 3px;
		border-bottom: 2px solid transparent;
		transition: all .4s;

		@include mq(pc) {
			margin-left: 30px;
		}

		&:hover {
			border-bottom: 2px solid #fff;
			transition: all .4s;
		}

		a {
			color: #fff;
			font-weight: 500;
			font-size: 1.6rem;
			text-decoration: none;
			letter-spacing: .05em; 
			font-style: italic;
		}
	}

	&__menu {
		position: relative;
		z-index: 101;
		width: 30px;
		height: 23px;
		margin-top: 6px;

		@include mq(pc) {
			display: none;
		}
	}

	&__menuLine {
		position: absolute;
		width: 30px;
		height: 3px;
		background-color: #fff;
		transition: transform .3s;


		&:first-child {
			top: 0;

			&.active {
				top: 8px;
				transform: rotate(45deg);
			}
		}

		&:nth-child(2) {
			top: 10px;

			&.active {
				transform: scaleX(0);
			}
		}

		&:last-child {
			bottom: 0px;

			&.active {
				top: 8px;
				transform: rotate(135deg);
			}
		}
	}
}
