/* ================================================================
  メインビジュアル
   ================================================================ */

.p-mainVisual {
	height: 600px;
	background-image: url(../../../image/fv-bgi_01@2x.jpg);
	background-position: center;
	background-size: cover;
	
	@include mq(pc) {
		max-width: $max-width;
		height: 752px;
		margin: 0 auto;
		background-position: center;
	}
	
	&__inner {
		position: relative;
		height: 100%;
		margin: 0 auto;

		@include mq(pc) {
			max-width: $max-width-inner-pc-lg;
		}
	}

	&__catch {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 194px;
		margin: auto;
		transform: top -50% left -50%;

		@include mq(pc) {
			top: 409px;
			margin: 0;
		}

		p:first-child {
			margin-bottom: 48px;
			color: #fff;
			font-weight: 700;
			font-size: 3.7rem;
			text-align: center;
			letter-spacing: .05em;
			
			@include mq(pc) {
				text-align: left;
				margin-bottom: 23px;
				font-size: 7rem;
			}
		}

		p:nth-child(n+2) {
			line-height: calc(50/30);
			color: #fff;
			font-weight: 700;
			font-size: 3rem;
			text-align: center;
			letter-spacing: .05em;

			span::before {
				content: '\A';
				white-space: pre;
			}

			@include mq(pc) {
			text-align: left;
				font-size: 4rem;
				margin-left: 40px;

				span::before {
					content: '';
				}
			}
		}
	}
}
