/* ================================================================
  Works
   ================================================================ */

.p-works {
	margin-top: -97px;
	padding-top: 97px;
	
	&__bg {
		padding: 100px 0 45px;
		background-image: url(../../../image/works-bgi@2x.jpg);
		background-position: center;
		background-size: cover;

		@include mq(pc) {
			padding: 100px 0 70px;
		}
	}

	&__inner--lg {
		max-width: $max-width-inner-sp;
		margin: 0 auto;
		
		@include mq(pc) {
			max-width: $max-width-inner-pc-lg;
		}
	}

	&__inner {
		margin: 0 auto;

		@include mq(pc) {
			max-width: $max-width-inner-pc
		}
	}

	&__sectionTitle {
		color: #fff;
		justify-content: center;

		@include mq(pc) {
			justify-content: flex-end;
		}

		&::after {
			display: none;

			@include mq(pc) {
				display: block;
				background-color: #fff;
			}
		}
	}

	&__container {
		margin: 0 auto 50px;
		display: flex;
		flex-direction: column;
		align-items: center;

		@include mq(pc) {
			margin-bottom: 80px;
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__card {
		margin-bottom: 30px;
	}

	&__button {
		margin: 0 auto 40px;

		@include mq(pc) {
			margin-bottom: 70px;
		}
	}

	&__sectionWatermark {
		text-align: left;
		color: #fff;
		opacity: 0.1;
	}
}
