/* ================================================================
  フッター
   ================================================================ */

.p-footer {
  width: 100%;
  max-width: $max-width;
  height: 80px;
  margin: 0 auto;

  @include mq(pc) {
    height: 80px;
  }

  &__inner {
    max-width: $max-width-inner-sp;
    margin: 0 auto;
  }

  p {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 80px;
    color: $color-text;
    text-align: center;
    letter-spacing: 0.05em;

    @include mq(pc) {
      line-height: 80px;
    }
  }
}
