/* ================================================================
  worksコンテンツ
   ================================================================ */

.p-works {
  &__bg {
    padding: 100px 0 45px;
    background: url(../img/works-bgi@2x.jpg) center / cover;

    @include mq(pc) {
      padding: 103px 0 53px;
    }
  }

  &__inner--lg {
    max-width: $max-width-inner-sp;
    margin: 0 auto;

    @include mq(pc) {
      max-width: $max-width-inner-pc-lg;
    }
  }

  &__inner {
    margin: 0 auto;

    @include mq(pc) {
      max-width: $max-width-inner-pc;
    }
  }

  &__section-title {
    justify-content: center;
    color: #fff;

    @include mq(pc) {
      justify-content: flex-end;
      margin-bottom: 80px;
    }

    &::after {
      display: none;

      @include mq(pc) {
        display: block;
        margin-left: 42px;
        background: #fff;
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 50px;

    @include mq(pc) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 50px;
    }
  }

  &__card {
    margin: 0 auto 30px;
  }

  &__button {
    margin: 0 auto 40px;

    @include mq(pc) {
      margin-bottom: 70px;
    }
  }

  &__watermark {
    color: #fff;
    text-align: left;
    opacity: 0.1;
  }
}
